Repository jenkinsci/bom, pull requests merged in 2023-12, with the labels that each got.

#2723 Add gson-api plugin to bom
  bom-weekly/pom.xml
  sample-plugin/pom.xml
Labels: enhancement, weekly-test

#2739 Add json-path api plugin to managed set
  bom-weekly/pom.xml
  sample-plugin/pom.xml
Labels: weekly-test

#2750 Revert jenkinsci/google-oauth-plugin#201
  bom-weekly/pom.xml
Labels: bug

#2752 Revert jenkinsci/github-branch-source-plugin#752
  bom-weekly/pom.xml
Labels: bug
