Repository jenkinsci/bom, pull requests merged in 2025-05, with the labels that each got.

#5040 Downgrade JUnit
  bom-weekly/pom.xml
Labels: skip-changelog

#5046 Add Mask Passwords to the managed set
  bom-weekly/pom.xml
  sample-plugin/pom.xml
Labels: enhancement, weekly-test

#5077 Add Netty API to managed set
  bom-weekly/pom.xml
  sample-plugin/pom.xml
Labels: enhancement

#5113 Add commons-collections4-api to the managed set
  bom-weekly/pom.xml
  sample-plugin/pom.xml
Labels: weekly-test
